.main-page-container {
  display: inline-flex;
}
.main-page-main-page {
  width: 1440px;
  height: 4393px;
  overflow: clip;
  position: relative;
  background-color: white;
}
.main-page-rectangle2 {
  top: 90px;
  left: 0;
  width: 1440px;
  height: 666px;
  position: absolute;
  background-color: white;
}
.main-page-pexels-antoni-shkraba62669901 {
  top: 90px;
  left: 0;
  width: 1440px;
  height: 662px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/8f4a08ef88b03cb65d33a790d57d51a519ce70cf.webp);
}
.main-page-rectangle9 {
  top: 90px;
  left: 0;
  width: 1440px;
  height: 666px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
.main-page-k-o-pwar-is-an-online {
  top: 384px;
  left: 400px;
  color: white;
  width: 641px;
  display: inline;
  position: absolute;
  font-size: 24px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-k-o-pwar {
  top: 126px;
  left: 371px;
  width: 712px;
  height: 180px;
  position: relative;
}
.main-page-k-o {
  color: white;
  display: inline;
  font-size: 150px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-component {
  color: rgba(254, 98, 0, 1);
  display: inline;
  font-size: 150px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-p-w-a-r {
  color: white;
  display: inline;
  font-size: 150px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-line1 {
  top: 316px;
  left: 277px;
  width: 900px;
  height: 0;
  position: absolute;
  outline-color: white;
  outline-style: solid;
  outline-width: 3px;
}
.main-page-line2 {
  top: 540px;
  left: 277px;
  width: 900px;
  height: 0;
  position: absolute;
  outline-color: white;
  outline-style: solid;
  outline-width: 3px;
}
.main-page-app_gallery1 {
  top: 605px;
  left: 620px;
  width: 200px;
  height: 60.01px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/85fa0ed1cb342c6d053cd46bf8613a03c431e5aa.webp);
}
.main-page-container1 {
  display: inline-flex;
}
.main-page-play_store1 {
  top: 605px;
  left: 882px;
  width: 200px;
  height: 60.01px;
  overflow: clip;
  position: absolute;
}
.main-page-artboard1 {
  top: 0;
  left: 0.04px;
  width: 199.93px;
  height: 60.01px;
  position: absolute;
}
.main-page-play-store {
  top: 0;
  left: 0;
  width: 199.93px;
  height: 60.01px;
  position: absolute;
}
.main-page-icon {
  top: 21.44px;
  left: 8.12px;
  width: 31.74px;
  height: 30.8px;
  position: absolute;
}
.main-page-r {
  top: 1422px;
  left: 0;
  width: 1440px;
  height: 666px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.76);
}
.main-page-u-p-c-o-m-i-n-g-missions {
  top: 1484px;
  left: 552px;
  color: white;
  display: inline;
  position: absolute;
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-explore-our-missions {
  top: 1536px;
  left: 640px;
  color: white;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-sm-circles {
  top: 2042px;
  left: 698px;
  width: 45px;
  height: 18px;
  position: absolute;
}
.main-page-ellipse8 {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 9999px;
  background-color: white;
}
.main-page-ellipse9 {
  top: 2px;
  left: 32px;
  width: 13px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 9999px;
  background-color: rgba(217, 217, 217, 1);
}
.main-page-card1 {
  top: 1612px;
  left: 138px;
  width: 530px;
  height: 405px;
  position: absolute;
}
.main-page-rectangle12 {
  top: 0;
  left: 0;
  width: 530px;
  height: 405px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
}
.main-page-pexels-vanessa-garcia63259551 {
  top: 0;
  left: 0;
  width: 530px;
  height: 405px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/5e0e4311efb59ca345e10bbc6e755c5f502bce84.webp);
}
.main-page-rectangle14 {
  top: 0;
  left: 0;
  width: 530px;
  height: 405px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.47);
}
.main-page-learning-doesn-t-hav {
  top: 75px;
  left: 51px;
  color: white;
  width: 222px;
  display: inline;
  position: absolute;
  font-size: 18px;
  text-align: justify;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-k-o-pwar-entertainmen {
  top: 31px;
  left: 51px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-see-more {
  top: 341px;
  left: 231px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-line3 {
  top: 363px;
  left: 230px;
  width: 70px;
  height: 0;
  position: absolute;
  outline-color: rgba(254, 98, 0, 1);
  outline-style: solid;
  outline-width: 2px;
}
.main-page-card2 {
  top: 1612px;
  left: 773px;
  width: 530px;
  height: 405px;
  position: absolute;
}
.main-page-rectangle13 {
  top: 0;
  left: 0;
  width: 530px;
  height: 405px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
}
.main-page-pexels-julia-m-cameron41449231 {
  top: 0;
  left: 0;
  width: 530px;
  height: 405px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/7e41628975d20303ba5ee9fe8c9aeb688bdc48e9.webp);
}
.main-page-rectangle15 {
  top: 0;
  left: 0;
  width: 530px;
  height: 405px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.47);
}
.main-page-learning-doesn-t-hav1 {
  top: 75px;
  left: 45px;
  color: white;
  width: 222px;
  display: inline;
  position: absolute;
  font-size: 18px;
  text-align: justify;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-k-o-pwar-life {
  top: 31px;
  left: 51px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-see-more1 {
  top: 341px;
  left: 231px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-line4 {
  top: 363px;
  left: 231px;
  width: 70px;
  height: 0;
  position: absolute;
  outline-color: rgba(254, 98, 0, 1);
  outline-style: solid;
  outline-width: 2px;
}
.main-page-r1 {
  top: 2088px;
  left: 1px;
  width: 1439px;
  height: 666px;
  position: absolute;
  background-color: white;
}
.main-page-n-e-w-s {
  top: 2150px;
  left: 674px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-rectangle17 {
  top: 2239px;
  left: 101px;
  width: 610px;
  height: 195px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.main-page-pexels-cottonbro50765121 {
  top: 2239px;
  left: 101px;
  width: 240px;
  height: 195px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/a88d50c065556ff15dcb51196917a119f9d2d059.webp);
}
.main-page-rectangle19 {
  top: 2239px;
  left: 726px;
  width: 610px;
  height: 195px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.main-page-rectangle20 {
  top: 2488px;
  left: 726px;
  width: 610px;
  height: 195px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.main-page-rectangle18 {
  top: 2488px;
  left: 101px;
  width: 610px;
  height: 195px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  background-color: white;
}
.main-page-learning-doesn-t-hav2 {
  top: 2261px;
  left: 369px;
  color: black;
  width: 314px;
  display: inline;
  position: absolute;
  font-size: 18px;
  text-align: justify;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-see-more2 {
  top: 2386px;
  left: 370px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-line5 {
  top: 2408px;
  left: 369px;
  width: 70px;
  height: 0;
  position: absolute;
  outline-color: rgba(254, 98, 0, 1);
  outline-style: solid;
  outline-width: 2px;
}
.main-page-pexels-cottonbro50765122 {
  top: 2239px;
  left: 726px;
  width: 240px;
  height: 195px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/a88d50c065556ff15dcb51196917a119f9d2d059.webp);
}
.main-page-pexels-cottonbro50765123 {
  top: 2488px;
  left: 726px;
  width: 240px;
  height: 195px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/a88d50c065556ff15dcb51196917a119f9d2d059.webp);
}
.main-page-pexels-cottonbro50765124 {
  top: 2488px;
  left: 101px;
  width: 240px;
  height: 195px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/a88d50c065556ff15dcb51196917a119f9d2d059.webp);
}
.main-page-learning-doesn-t-hav3 {
  top: 2261px;
  left: 994px;
  color: black;
  width: 314px;
  display: inline;
  position: absolute;
  font-size: 18px;
  text-align: justify;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-learning-doesn-t-hav4 {
  top: 2510px;
  left: 994px;
  color: black;
  width: 314px;
  display: inline;
  position: absolute;
  font-size: 18px;
  text-align: justify;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-learning-doesn-t-hav5 {
  top: 2510px;
  left: 369px;
  color: black;
  width: 314px;
  display: inline;
  position: absolute;
  font-size: 18px;
  text-align: justify;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-see-more3 {
  top: 2386px;
  left: 995px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-see-more4 {
  top: 2635px;
  left: 995px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-see-more5 {
  top: 2635px;
  left: 370px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-line6 {
  top: 2408px;
  left: 994px;
  width: 70px;
  height: 0;
  position: absolute;
  outline-color: rgba(254, 98, 0, 1);
  outline-style: solid;
  outline-width: 2px;
}
.main-page-line7 {
  top: 2657px;
  left: 994px;
  width: 70px;
  height: 0;
  position: absolute;
  outline-color: rgba(254, 98, 0, 1);
  outline-style: solid;
  outline-width: 2px;
}
.main-page-line8 {
  top: 2657px;
  left: 369px;
  width: 70px;
  height: 0;
  position: absolute;
  outline-color: rgba(254, 98, 0, 1);
  outline-style: solid;
  outline-width: 2px;
}
.main-page-rectangle11 {
  top: 756px;
  left: 0;
  width: 1440px;
  height: 666px;
  position: absolute;
  background-color: white;
}
.main-page-what-ko-pwar-work {
  top: 818px;
  left: 532px;
  width: 378px;
  height: 38px;
  position: relative;
}
.main-page-w-h-a-t {
  color: black;
  display: inline;
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-k-o-pwar1 {
  color: rgba(254, 98, 0, 1);
  display: inline;
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-work {
  color: black;
  display: inline;
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-a-smart-joomla-desig {
  top: 872px;
  left: 519px;
  color: black;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-mart {
  top: 948px;
  left: 137px;
  width: 340px;
  height: 360px;
  position: absolute;
}
.main-page-rectangle7 {
  top: 0;
  left: 0;
  width: 340px;
  height: 360px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.47);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.main-page-kopwar-mart1 {
  top: 0;
  left: 0;
  width: 340px;
  height: 252px;
  position: absolute;
  box-sizing: border-box;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/d449e1da76d85cb9d7fb3901d738a4720a40111f.webp);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-page-k-o-pwar-mart {
  top: 266px;
  left: 22px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-online-market-for-yo {
  top: 305px;
  left: 22px;
  color: black;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-academy {
  top: 948px;
  left: 555px;
  width: 340px;
  height: 360px;
  position: absolute;
}
.main-page-rectangle6 {
  top: 0;
  left: 0;
  width: 340px;
  height: 360px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.47);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.main-page-online-school-for-ch {
  top: 305px;
  left: 20px;
  color: black;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-k-o-pwar-academy {
  top: 266px;
  left: 20px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-learning-academy1 {
  top: 0;
  left: 0;
  width: 340px;
  height: 252px;
  position: absolute;
  box-sizing: border-box;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/0e076bd06ed4ce56af092875405244a368bdbe2f.webp);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-page-left-arrow {
  top: 1071px;
  left: 50px;
  width: 68.33px;
  height: 69.24px;
  position: absolute;
}
.main-page-ellipse6 {
  top: -217px;
  left: -1923px;
  width: 63px;
  height: 64px;
  opacity: 0.4;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  background-color: rgba(230, 230, 230, 1);
}
.main-page-logistics {
  top: 948px;
  left: 973px;
  width: 340px;
  height: 360px;
  position: absolute;
}
.main-page-rectangle8 {
  top: 0;
  left: 0;
  width: 340px;
  height: 360px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.47);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.main-page-delivery-for-you {
  top: 305px;
  left: 18px;
  color: black;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-k-o-pwar-logistics {
  top: 266px;
  left: 18px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-logistics1 {
  top: 0;
  left: 0;
  width: 340px;
  height: 252px;
  position: absolute;
  box-sizing: border-box;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/b38e70471a9a57b9e4bc288fade92ef102be38b1.webp);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-page-card {
  top: 948px;
  left: 1391px;
  width: 340px;
  height: 360px;
  position: absolute;
}
.main-page-rectangle10 {
  top: 0;
  left: 0;
  width: 340px;
  height: 360px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.47);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}
.main-page-k-o-pwar-logistics1 {
  top: 266px;
  left: 18px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-health2 {
  top: 0;
  left: 0;
  width: 340px;
  height: 252px;
  position: absolute;
  box-sizing: border-box;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/dcf0c928f1ef5af4e4bf10b20f891c6bd25e2134.webp);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-page-delivery-for-you1 {
  top: 305px;
  left: 18px;
  color: black;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-right-arrow {
  top: 1071px;
  left: 1323px;
  width: 68.33px;
  height: 69.24px;
  position: absolute;
}
.main-page-ellipse7 {
  top: -217px;
  left: -1923px;
  width: 63px;
  height: 64px;
  opacity: 0.4;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  background-color: rgba(133, 133, 133, 0.42);
}
.main-page-rectangle1 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 90px;
  position: absolute;
  background-color: black;
}
.main-page-kopwar1 {
  top: 0;
  left: 50px;
  width: 90px;
  height: 90px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/35c1b0013a643bce54568fde0b1579bfc142c5db.webp);
}
.main-page-grow-faster-grow-tog {
  top: 11px;
  left: 179px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 28px;
  font-style: italic;
  font-family: Lato;
  line-height: normal;
  letter-spacing: 0.05em;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-menu-bar {
  top: 31px;
  left: 1317px;
  width: 84px;
  height: 29px;
  position: absolute;
}
.main-page-contact {
  top: 0;
  left: 0;
  color: rgba(254, 98, 0, 1);
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-career-with-us {
  top: 31px;
  left: 1121px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-about-us {
  top: 31px;
  left: 982px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-businesses {
  top: 31px;
  left: 717px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-events {
  top: 31px;
  left: 872px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-home {
  top: 31px;
  left: 613px;
  color: white;
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-rectangle23 {
  top: 2754px;
  left: 1px;
  width: 1439px;
  height: 424px;
  position: absolute;
  background-color: rgba(254, 98, 0, 0.74);
}
.main-page-ellipse81 {
  top: 2710px;
  left: -1871px;
  width: 63px;
  height: 64px;
  opacity: 0.4;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  background-color: rgba(230, 230, 230, 1);
}
.main-page-city-love1 {
  top: 2819px;
  left: 486px;
  width: 351px;
  height: 216px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/89d1d578b4a480a5b17664f41060d92a1c0c32a8.webp);
}
.main-page-my-hero3campaign-i {
  top: 3055px;
  left: 137px;
  color: black;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-city-love-hope-fou {
  top: 3055px;
  left: 486px;
  color: black;
  width: 353px;
  height: 72px;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-city-love-hope-fou1 {
  top: 3055px;
  left: 955px;
  color: black;
  width: 353px;
  height: 72px;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-my-hero1 {
  top: 2819px;
  left: 137px;
  width: 250px;
  height: 215.52px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/4293a472bb6e79d289c988c45ebadab6ecf80959.webp);
}
.main-page-remember1 {
  top: 2819px;
  left: 955px;
  width: 351px;
  height: 216px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/8b310e8d1117d27c85f63e2e7461deb3dee2a603.webp);
}
.main-page-ellipse82 {
  top: 2710px;
  left: -600px;
  width: 63px;
  height: 64px;
  opacity: 0.4;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  background-color: rgba(230, 230, 230, 1);
}
.main-page-no8111aung-thitsa {
  top: 3949px;
  left: 100px;
  color: black;
  width: 450px;
  height: 24px;
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-postal-code11011 {
  top: 3993px;
  left: 100px;
  color: black;
  width: 139px;
  height: 24px;
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-component1 {
  top: 4037px;
  left: 100px;
  color: black;
  width: 109px;
  height: 24px;
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-sane-l-wunn-gmail-co {
  top: 4081px;
  left: 100px;
  color: black;
  width: 173px;
  height: 24px;
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-no8111aung-thitsa1 {
  top: 4125px;
  left: 100px;
  color: black;
  width: 450px;
  height: 24px;
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-c-o-n-t-a-c-t-info {
  top: 3891px;
  left: 100px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-o-u-r-location {
  top: 3891px;
  left: 720px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-container2 {
  display: inline-flex;
}
.main-page-pin-location43551 {
  top: 3771px;
  left: 720px;
  width: 80px;
  height: 80px;
  overflow: clip;
  position: absolute;
}
.main-page-rectangle22 {
  top: 3949px;
  left: 725px;
  width: 610px;
  height: 263px;
  position: absolute;
  background-color: rgba(217, 217, 217, 1);
}
.main-page-r2 {
  top: 3949px;
  left: 725px;
  width: 610px;
  height: 263px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/6054290bd662d9db52e59100bb299faee10fb67c.webp);
}
.main-page-rectangle21 {
  top: 4293px;
  left: 0;
  width: 1440px;
  height: 100px;
  position: absolute;
  background-color: black;
}
.main-page-copyright-ko-pwar {
  top: 4331px;
  left: 478px;
  color: white;
  width: 250px;
  height: 24px;
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-privacy-policy {
  top: 4331px;
  left: 858px;
  color: white;
  width: 100px;
  height: 24px;
  display: inline;
  position: absolute;
  font-size: 16px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-r3 {
  top: 3178px;
  left: 0;
  width: 1435px;
  height: 531px;
  position: absolute;
  background-color: white;
}
.main-page-pexels-linda-ellershein31278801 {
  top: 3178px;
  left: 0;
  width: 1435px;
  height: 531px;
  position: absolute;
  background-size: cover;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/5814/b7a84008c46cab45d01ca4959f3ab76e25ef2ddb.webp);
}
.main-page-r4 {
  top: 3178px;
  left: 0;
  width: 1435px;
  height: 531px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-page-here-you-can-review {
  top: 3292px;
  left: 496px;
  color: white;
  width: 421px;
  height: 30px;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-c-u-s-t-o-m-e-r-s {
  top: 3552px;
  left: 125px;
  color: white;
  width: 112px;
  height: 30px;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-p-r-o-d-u-c-t-s {
  top: 3552px;
  left: 507px;
  color: white;
  width: 102px;
  height: 30px;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-s-t-u-d-e-n-t-s {
  top: 3552px;
  left: 841px;
  color: white;
  width: 95px;
  height: 30px;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-c-e-r-t-i-f-i-e-d-teachers {
  top: 3552px;
  left: 1184px;
  color: white;
  width: 188px;
  height: 30px;
  display: inline;
  position: absolute;
  font-size: 18px;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-component2 {
  top: 3477px;
  left: 110px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 48px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-component3 {
  top: 3477px;
  left: 481px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 48px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-component4 {
  top: 3477px;
  left: 846px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 48px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-component5 {
  top: 3477px;
  left: 1224px;
  color: rgba(254, 98, 0, 1);
  display: inline;
  position: absolute;
  font-size: 48px;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.main-page-o-u-r-achievements {
  top: 3232px;
  left: 557px;
  color: white;
  display: inline;
  position: absolute;
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
